* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(47, 85, 151);
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    height: 19rem;
    width: 24rem;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.nav-item {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 176, 240);
    align-items: center;
    width: 10rem;
    height: 3rem;
    margin: 0.5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(248, 248, 248);
}

h1 {
    color:rgb(0, 176, 240);
    padding: 0.5rem;
}

img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 111px;
    height: 70px;
}

footer {
    position: absolute;
    bottom: 0;
    color:rgb(248, 248, 248);
    text-align: center;
    margin: 1rem;
}

@media only screen and (max-width: 820px) {

}